$light-gray: 	#ddd;
$gray: 				#666;
* {
	font-family: Arial, sans-serif;
	font-size: 1rem;
}

#container {
	width: 80%;
	margin: 20px auto;
}

a {
	color: #30AFDE;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

dd, dt, dl {
	margin: 0;
	padding: 0;
}
dt {
	margin: 20px 0 10px 0;
	font-weight: bold;
	font-size: 1.2rem;
	color: $gray;
}

.note {
	width: 225px;
	height: 235px;
	margin: 20px;
	float: left;
	padding: 10px;
	list-style: none;
	border: 1px solid #ddd;
}

input[type="text"], textarea {
	background: none;
	border: none;
	outline: none;
}

.title-container input{
	font-size: 1.2rem;
	font-weight: bold;
	color: #666;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid $light-gray;
}

.body {
	width: 100%;
	height: 105px;
	.note-content { 
		height: 165px;
		width: 100%;
		resize: none;
	}
}

.normal-footer {
	display: block;
	margin: 10px 0;
	color: $gray;
	font-size: 0.8rem;
}

.editing-footer {
	display: none;
}

.editing {
	border: 1px solid #9CBFB2;

	.editing-footer {
		float: left;
		display: block;
	}

	.normal-footer {
		display: none;
	}
}

.add-actions {
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid $light-gray;
}

.add-note, .save-note, .destroy-note {
	padding: 7px 15px;
	margin-right: 10px;
	background: #D9A23D;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
}

.save-note {
	background: #30698C;
}

.destroy-note {
	background: #D25A52;
}

.error {
border-color: red;
}
